/* src/components/Card.css */
.card {
    background-color: var(--components-bg1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: var(--primary-text-color);
  }
  
  .card-value {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-text-color);
  }
  
  
  .card-growth {
    font-size: 1rem;
    color: var(--primary-text-color);
  }
  
  .growth-percentage {
    font-weight: bold;
  }
  